body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

img {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #2d2d2d;
    font-size: 70px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

p {
    font-size: 20px;
    line-height: 16px;
    color: #444;
    margin: 15px 0;
    text-align: left;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
}

nav {
    background-color: #555;
    text-align: center;
    padding: 20px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 30px;
}

.main-content {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.section {
    margin: 20px 0;
    text-align: center;
}

footer {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from { opacity: .4 }
    to { opacity: 1 }
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}